/* Fuentes */
@font-face {
  font-family: 'Clarika Geo';
  src: url("../fonts/clarikageoregular-webfont.woff2") format("woff2"), url("../fonts/clarikageoregular-webfont.woff") format("woff");
  /* Pretty Modern Browsers */ }
@font-face {
  font-family: 'Clarika Geo';
  src: url("../fonts/clarikageomedium-webfont.woff2") format("woff2"), url("../fonts/clarikageomedium-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: 500; }
@font-face {
  font-family: 'Clarika Geo';
  src: url("../fonts/clarikageobold-webfont.woff2") format("woff2"), url("../fonts/clarikageobold-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: 700; }
@font-face {
  font-family: 'Clarika Geo';
  src: url("../fonts/clarikageoitalic-webfont.woff2") format("woff2"), url("../fonts/clarikageoitalic-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata-VariableFont.ttf") format("truetype-variations");
  font-weight: 1 999; }
/* Generales html */
* {
  font-family: 'Clarika Geo', sans-serif;
  color: #fff; }

body {
  background-color: #0c0f12; }

html, body {
  margin: 0;
  padding: 0; }

/* Elementos base generales */
h2 {
  font-size: 6vw;
  margin: 0;
  -webkit-text-stroke-width: .1vw;
  -webkit-text-stroke-color: #fff;
  color: transparent; }

h3 {
  margin: 0;
  font-weight: 500;
  font-size: 2.27vw; }

/* hEader */
header {
  position: fixed;
  top: 0;
  left: 7.29vw;
  right: 7.29vw;
  z-index: 10; }
  header .header-logo {
    position: absolute;
    width: 9.9vw;
    height: 7vw;
    left: -.55vw;
    top: 1.19vw;
    filter: drop-shadow(0px 0px 6px rgba(12, 15, 18, 0.6));
    background-image: url(../img/logo-blackBg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    transition: all .4s; }
    header .header-logo.white-bg {
      background-image: url(../img/logo-whiteBg.svg);
      filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.6)); }
  header nav {
    position: absolute;
    right: -2.19vw; }
  header.white-bg nav ul li a {
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.9)); }
    header.white-bg nav ul li a span {
      color: #0c0f12; }
      header.white-bg nav ul li a span:before {
        background-color: #81cde4; }

nav ul {
  margin: 0;
  width: 20.83vw;
  font-size: 0px; }
  nav ul li {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    width: 33.33%;
    font-size: initial; }
    nav ul li a {
      text-decoration: none;
      font-weight: bold;
      position: relative;
      filter: drop-shadow(0px 0px 6px rgba(12, 15, 18, 0.6)); }
      nav ul li a span {
        transform-origin: 0 0;
        transform: rotate(15deg) skew(15deg, 15deg);
        -webkit-transform: rotate(15deg) skew(15deg, 15deg);
        position: absolute;
        font-size: 1.25vw;
        transition: .4s all; }
        nav ul li a span:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 2.08vw;
          background-color: #e73c5f;
          transition: .4s all;
          transform-origin: 0 0;
          transform: rotate(15deg) skew(-30deg, -15deg) translate(0.52vw, 0.52vw);
          -webkit-transform: rotate(15deg) skew(-30deg, -15deg) translate(0.52vw, 0.52vw);
          z-index: -1; }
        nav ul li a span:after {
          content: '';
          display: inline-block;
          width: 5.21vw;
          position: absolute;
          top: 50%;
          border-top: 0.1vw solid #fff;
          left: -6vw; }
      nav ul li a:hover span:before {
        width: 100%; }

/* Secciones */
section {
  height: 100vh;
  padding: 0 7.29vw;
  position: relative;
  /* Secciones blancas */
  /* Fold */
  /* Trabajos */
  /* Habilidades */
  /* Contacto */ }
  section.white {
    background-color: #fff;
    color: #0c0f12; }
    section.white .section-title-container h2 {
      -webkit-text-stroke-color: #0c0f12;
      color: transparent; }
    section.white .section-title-container h3 {
      color: #0c0f12; }
  section.fold {
    background: #0c0f12;
    background-image: url("../img/dotpattern-blackBg.svg");
    /* fallback */
    background-image: linear-gradient(rgba(12, 15, 18, 0), #0c0f12), url("../img/dotpattern-blackBg.svg");
    /* W3C */ }
    section.fold .section-title-container {
      position: absolute;
      top: 50%;
      left: 7.29vw;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
      section.fold .section-title-container h2 span {
        display: block;
        line-height: 3vw;
        color: #e73c5f;
        -webkit-text-stroke-width: 0; }
  section.works .section-title-container h2, section.works .section-title-container h3 {
    text-align: right; }
  section.works .work-tiles {
    width: 77vw;
    height: 43.18vw;
    position: relative;
    z-index: 3; }
    section.works .work-tiles .transition-top, section.works .work-tiles .transition-bottom {
      transition: transform .2s; }
    section.works .work-tiles .transition-top {
      transform: translateY(5vw);
      -webkit-transform: translateY(5vw); }
    section.works .work-tiles .transition-bottom {
      transform: translateY(-5vw);
      -webkit-transform: translateY(-5vw); }
    section.works .work-tiles a:hover .transition-bottom, section.works .work-tiles a:hover .transition-top {
      transform: translateY(0);
      -webkit-transform: translateY(0); }
  section.skills:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/skills-bg.svg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: -17vw;
    height: 42.92vw;
    z-index: 0; }
  section.skills * {
    position: relative;
    z-index: 2; }
  section.skills .section-title-container {
    top: 10.2vw; }
  section.skills .isometric-stack {
    position: absolute;
    height: 14vw;
    width: 16vw; }
    section.skills .isometric-stack h4 {
      position: absolute;
      font-weight: bold;
      -webkit-text-stroke-color: #0c0f12;
      -webkit-text-stroke-width: .07vw;
      color: transparent;
      font-size: 2.4vw;
      transform: rotate(-90deg) skewX(-30deg) scaleY(0.864) translate(-16vw, -4.4vw);
      -webkit-transform: rotate(-90deg) skewX(-30deg) scaleY(0.864) translate(-16vw, -4.4vw);
      transform-origin: 0 0;
      margin: 0; }
      section.skills .isometric-stack h4:before {
        content: '';
        position: absolute;
        display: block;
        width: 5.26vw;
        height: 9.06vw;
        left: -4vw;
        top: -3vw;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1; }
    section.skills .isometric-stack ul {
      margin: 0;
      padding: 0;
      transform: rotate(-15deg) skew(-15deg, -15deg);
      -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
      transform-origin: left bottom;
      position: absolute;
      bottom: 0;
      left: 0; }
      section.skills .isometric-stack ul li {
        color: #0c0f12;
        list-style-type: none;
        font-family: 'Inconsolata', monospace;
        font-weight: 500;
        font-size: 1.3vw;
        margin-top: .5vw; }
    section.skills .isometric-stack.software {
      top: 60%;
      left: 33vw; }
      section.skills .isometric-stack.software h4:before {
        background-image: url(../img/icon-software.svg); }
    section.skills .isometric-stack.tecnologias {
      top: 40%;
      left: 66vw; }
      section.skills .isometric-stack.tecnologias h4:before {
        background-image: url(../img/icon-tecnologias.svg); }
  section.contact {
    background-image: url("../img/dotpattern-whiteBg.svg");
    /* fallback */
    background-image: linear-gradient(#fff, rgba(255, 255, 255, 0)), url("../img/dotpattern-whiteBg.svg");
    /* W3C */ }
    section.contact .contact-container {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
      section.contact .contact-container h3 {
        font-weight: bold;
        -webkit-text-stroke-color: #0c0f12;
        -webkit-text-stroke-width: .1vw;
        color: transparent;
        font-size: 3vw; }
      section.contact .contact-container a {
        color: #0c0f12;
        font-size: 4.5vw;
        font-weight: 700;
        text-decoration: none;
        position: relative;
        display: inline-block;
        margin: 0 auto; }
        section.contact .contact-container a:before {
          content: '';
          position: absolute;
          display: block;
          height: 5%;
          width: 100%;
          background-color: #81cde4;
          bottom: 0; }
    section.contact .socialmedia-container {
      position: absolute;
      bottom: 5vw;
      left: 0;
      right: 0;
      text-align: center; }
    section.contact:before {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-image: url("../img/lines-bg.svg");
      background-size: cover;
      background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
